In [2]:
# loading the data
import pandas as pd

df = pd.read_csv("Resources/vine_table.csv")

df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R26MV8D0KG6QI6,5.0,0.0,0.0,N,Y
1,R1OF8GP57AQ1A0,5.0,0.0,0.0,N,Y
2,R3VDC1QB6MC4ZZ,5.0,0.0,0.0,N,N
3,R12FA3DCF8F9ER,5.0,0.0,0.0,N,Y
4,RTWHVNV6X4CNJ,5.0,0.0,0.0,N,Y

In [4]:
filter_df = df[df["total_votes"]>=20]
filter_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1103,R33VIWRD2X5IA9,1.0,0.0,20.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N

In [8]:
filter_df2 = filter_df[filter_df["helpful_votes"]/filter_df["total_votes"] >= 0.5]
filter_df2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y

In [16]:
filter_df_Y = filter_df2[filter_df2["vine"]=="Y"]
filter_df_Y.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
78803,R3MKO875WGIEBJ,5.0,34.0,37.0,Y,N
90155,R3OPNTK61FQ7MP,5.0,32.0,37.0,Y,N
302146,RMDRU8I773X5U,4.0,22.0,25.0,Y,N
417135,RR83RGWFEFZCL,3.0,61.0,64.0,Y,N
477241,R2TMZ7GV8SPIRV,4.0,23.0,23.0,Y,N

In [19]:
filter_df_N = filter_df2[filter_df2["vine"]=="N"]
filter_df_N.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5.0,250.0,274.0,N,Y
157,R23VPTUJ8I8NR5,1.0,28.0,30.0,N,Y
1115,R6SRJFJ5YH4UM,5.0,23.0,26.0,N,Y
1309,R3DOS07BIMP4DJ,2.0,32.0,42.0,N,N
2371,R30PGWX4HN1CFG,1.0,85.0,95.0,N,Y

# total reviews, number of 5-star reviews and percentage of 5-star reviews

## type of review: paid

In [21]:
total_reviews_Y = filter_df_Y.shape[0]
total_reviews_Y

61

In [22]:
five_star_reviews_Y = filter_df_Y[filter_df_Y["star_rating"]==5].shape[0]
five_star_reviews_Y

20

In [24]:
paid_five_star_reviews_percentage = (five_star_reviews_Y/total_reviews_Y)*100
paid_five_star_reviews_percentage

32.78688524590164

## type of review: unpaid

In [25]:
total_reviews_N = filter_df_N.shape[0]
total_reviews_N

28174

In [26]:
five_star_reviews_N = filter_df_N[filter_df_N["star_rating"]==5].shape[0]
five_star_reviews_N

15672

In [27]:
unpaid_five_star_reviews_percentage = (five_star_reviews_N/total_reviews_N)*100
unpaid_five_star_reviews_percentage

55.62575424149926